cycler==0.10.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.0
Pillow==8.2.0
progress==1.5
protobuf==3.9.1
pyparsing==2.4.4
python-dateutil==2.8.1
scipy==1.3.1
six==1.12.0
tensorboardX==1.9
torch==1.2.0
torchvision==0.4.0
tqdm==4.33.0
